#                                    Лабораторная работа №7

## Pandas: Обработка данных

**1.** Описание исходных данных приведено тут: https://www.kaggle.com/janiobachmann/math-students. Вам предложены измененные данные.

In [24]:
# Открываем таблицу с данными об учениках 
import pandas as pd
data = pd.read_csv('math_students.csv', delimiter=',')

Проанализируйте данные - выведите всю возможную информацию, типы данных, распределение по каждому столбцу.

GP    366
MS     49
Name: school, dtype: int64

При наличии пустых значений - удалите соответствующие строки.

GP    366
MS     49
Name: school, dtype: int64

При наличии нелогичных данных - удалите соответствующие строки.

Если в таблице имеются повторяющиеся строки - удалите их.

После предобработки данных визуализируйте распределение значений всех столбцов.

Следующие задания выполните на предобработанных данных.

* Какая причина выбора школы была самой частой? В качестве ответа приведите соответствующее значение признака.

* Найдите количество студентов, у родителей (одного или обоих - рассмотрите оба варианта) которых нет никакого образования.

* Найдите минимальный возраст учащегося школы Mousinho da Silveira.

* Найдите количество студентов, имеющих нечетное число пропусков.

* Найдите разность между средними итоговыми оценками студентов, состоящих и не состоящих в романтических отношениях. В качестве ответа приведите число, округленное до двух значащих цифр после запятой.

* Сколько занятий пропустило большинство студентов с самым частым значением наличия внеклассных активностей?

*Примечание. В данном контексте под "большинством" подразумеваются студенты, имеющее самое частое значение пропусков. То есть в данном задании необходимо:*


* *Определить самое частое значение наличия внеклассных активностей (да или нет).*
* *Для группы студентов, соответствующей этому значению, рассмотреть значения признака «число пропусков».*
* *Для каждого значения числа пропусков посчитать, сколько студентов ему соответствует.*
* *Выбрать значение числа пропусков с наибольшим числом студентов.*

**2.** Возьмите свой набор данных (или выберите, например, на kaggle). Выполните различные возможные операции по предобработке и первичному анализу данных.