# Множества

неотсортированная коллекция уникальных элементов

поддерживают итерацию, добавление и удаление объектов и т.д.

 индексация и срезы в сетах не поддерживаются

In [30]:
s1 = set('abacaaaade') 
s2 = set('aghij') 
print(s1)
print(s2)

{'e', 'd', 'c', 'b', 'a'}
{'j', 'h', 'i', 'a', 'g'}

In [31]:
s3 = s1 - s2 
s3

{'b', 'c', 'd', 'e'}

In [32]:
s3 = s1 | s2 
s3

{'a', 'b', 'c', 'd', 'e', 'g', 'h', 'i', 'j'}

In [33]:
s3 = s1 & s2 
s3

{'a'}

In [34]:
s1.add(6) 
s1

{6, 'a', 'b', 'c', 'd', 'e'}

In [35]:
print(s1)
s1.remove(6)
print(s1)

{'e', 6, 'd', 'c', 'b', 'a'}
{'e', 'd', 'c', 'b', 'a'}

In [36]:
for item in s1:
    print(item)

e
d
c
b
a

In [37]:
L = [1, 2, 3, 4, 1, 2, 6, 7] 
set(L)

{1, 2, 3, 4, 6, 7}

In [38]:
L = sorted(list(set(L)))
L

[1, 2, 3, 4, 6, 7]

In [39]:
div2 = [x * 2 for x in range(0, 11)]
div3 = [x * 3 for x in range(0, 7)]

div2_set = set(div2) 
div3_set = set(div3) 

div2_set & div3_set

{0, 6, 12, 18}

In [40]:
div2_set | div3_set

{0, 2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20}

In [41]:
div2_set - div3_set

{2, 4, 8, 10, 14, 16, 20}

In [42]:
div2_set[0]

TypeError: 'set' object is not subscriptable